<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>WWHelpers</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Sedan+SC&display=swap" rel="stylesheet">

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,container-queries"></script>
    <script>
        tailwind.config = {
            theme: {
                fontFamily: {
                    sans: ['"Roboto Slab"', 'sans-serif'],
                    serif: ['Merriweather', 'serif'],
                },
                extend: {
                    colors: {
                        clifford: '#da373d',
                    }
                }
            }
        }
    </script>
</head>
<body class="font-sans text-stone-300 bg-stone-800">
    <div id="app" class="flex flex-col items-center justify-center">
        <form class="my-12">
            <h1 class="text-center text-bold text-xl">Linear pattern</h1>

            <div class="m-8">
                <label>Total width</label><br>
                <input v-model.number="totalWidth" class="text-stone-800">
            </div>
            <div class="m-8">
                <label>Wood width</label><br>
                <input v-model.number="woodWidth" class="text-stone-800"><br>
            </div>
            <div class="m-8">
                <label>Wood count</label><br>
                <input v-model.number="woodCount" class="text-stone-800">
            </div>
            <div class="m-8">
                <label>Space around</label><br>
                <select v-model.number="spaceAround" class="text-stone-800">
                    <option value="0">0</option>
                    <option value="0.5">0.5x</option>
                    <option value="1">1x</option>
                </select>
                <p>{{ spaceWidth * spaceAround }}</p>
            </div>

            <p class="mb-2 text-center">Space width</p>
            <p class="font-bold text-center">{{ spaceWidth }}</p>
        </form>

        <form class="my-12">
            <h1 class="text-center text-bold text-xl">Parallelogram</h1>

            <div class="m-8">
                <label>Long edge length</label><br>
                <input v-model.number="paraLongEdgeLength" class="text-stone-800">
            </div>
            <div class="m-8">
                <label>Width</label><br>
                <input v-model.number="paraWidth" class="text-stone-800"><br>
            </div>
            <div class="m-8">
                <label>Angle</label><br>
                <span class="text-xs">deviation from perpendicular end</span><br>
                <input v-model.number="paraAngle" class="text-stone-800 w-16">
                <span> degrees</span>
            </div>

            <p class="mb-2 text-center">Board length</p>
            <p class="font-bold text-center">{{ paraBoardLength }}</p>
        </form>
    </div>
</body>
<script>
    const { createApp, ref, reactive, computed, watch } = Vue

    createApp({
        setup() {
            const totalWidth = ref(1000)
            const woodWidth = ref(100)
            const woodCount = ref(3)
            const spaceAround = ref(0)
            const spaceWidth = computed(() => {
                return (totalWidth.value - (woodWidth.value * woodCount.value)) / (woodCount.value - 1 + spaceAround.value * 2)
            })

            const paraLongEdgeLength = ref(1000)
            const paraWidth = ref(100)
            const paraAngle = ref(30)
            const paraBoardLength = computed(() => {
                return Math.ceil(paraLongEdgeLength.value + Math.tan(paraAngle.value * (Math.PI / 180)) * paraWidth.value)
            })


            return {
                totalWidth,
                woodWidth,
                woodCount,
                spaceWidth,
                spaceAround,
                paraLongEdgeLength,
                paraWidth,
                paraAngle,
                paraBoardLength,
            }
        }
    }).mount('#app')

</script>
</html>